@using SmartManager.Models.Groups;
@using SmartManager.Models.PaymentStatistics;
@model Tuple<IQueryable<Group>, IQueryable<PaymentStatistic>>

@{
    ViewData["Title"] = "GetGroups";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <style>
        .btn-black {
            background-color: #009879;
            color: white;
            display: flex;
            position: absolute;
            right: 225px;
            top: 10px;
        }

        .btn {
            background-color: #8FBC8F;
            color: white;
        }

        #searchInput {
            position: relative;
            top: -14px;
            left: 0px;
            font-size: 15px;
            width: 500px;
            background: #fff;
        }

        #searchInput {
            margin-bottom: -60px;
        }

        .btn-edit {
            background-color: #009879;
            color: #fff;
            font-size: 16px;
        }

        .btn-delete {
            background-color: #d9534f;
            color: #fff;
            font-size: 16px;
        }

        .btn-md-custom {
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
        }

        .btn-edit,
        .btn-delete {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
        }

        .table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

            .table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
                font-weight: bold;
            }

            .table th,
            .table td {
                padding: 12px 15px;
            }

            .table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }

                .table tbody tr.active-row {
                    font-weight: bold;
                    color: #009879;
                }

    </style>
    <div style="position: relative;">
        <div class="group-count">
            Total Groups: @Model.Item1.Count()
        </div>
    </div>
    <br />
    <div class="col-5">
        <input type="text" id="searchInput" class="form-control" placeholder="Search">
    </div>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Paids</th>
                <th scope="col">Not paids</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model.Item1)
                {
                    var paymentStatistic = Model.Item2.FirstOrDefault(p => p.GroupId == item.Id);

                    <tr class="searchable-row">
                        <th scope="row">@i</th>
                        <td>@item.GroupName</td>
                        <td style="font-weight: 600;">Paids: @Math.Round(paymentStatistic.PaidPercentage / 100, 1).ToString("P1")</td>
                        <td style ="font-weight: 600;">Not paids: @Math.Round(paymentStatistic.NotPaidPercentage / 100, 1).ToString("P1")</td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <a a asp-controller="Student" asp-route-groupId="@item.Id" asp-action="GetStudentsWithPayments" class="btn btn-success btn-md-custom btn-edit">
                                <i class="bi bi-pencil"></i>Paids
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Student" a asp-route-groupId="@item.Id" asp-action="GetNotPaidStudents" class="btn btn-danger btn-md-custom btn-delete" onclick="return DeleteInput()">
                                <i class="bi bi-x-lg"></i> Not paids
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function submitForm() {
            document.getElementById("form").submit();
        }

        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".searchable-row").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
</body>
</html>
