<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
    @using SmartManager.Models.Students;
    @model IQueryable<Student>

    @{
        ViewData["Title"] = "ShowStudents";
    }
    <style>
        #searchInput {
            position: relative;
            top: -14px;
            left: 0px;
            font-size: 15px;
            width: 500px;
            background: #fff;
        }

        #searchInput {
            margin-bottom: -60px;
        }

        .btn-edit {
            background-color: #009879;
            color: #fff;
            font-size: 16px;
        }

        .btn-edit{
            padding: 0.25rem 0.5rem;
            font-size: 0.7rem;
        }

        .custom-file-input {
            display: none;
        }

        .custom-file-label {
            cursor: pointer;
        }

        .custom-file-control {
            display: flex;
            align-items: end;
        }

        * {
            font-family: sans-serif;
        }

        .table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

            .table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
                font-weight: bold;
            }

            .table th,
            .table td {
                padding: 12px 15px;
            }

            .table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }

                .table tbody tr.active-row {
                    font-weight: bold;
                    color: #009879;
                }

        .student-count {
            position: absolute;
            top: 5px;
            left: 0px;
            color: #333;
            font-size: 15px;
        }


    </style>
    <div style="position: relative;">
        <div class="student-count">
            Total Students: @Model.Count()
        </div>
    </div>

    <div style="position: relative;">
        <form id="" method="" asp-action="" enctype="multipart/form-data" class="d-inline-block">
        </form>
    </div>
    <br />
    <div class="col-5">
        <input type="text" id="searchInput" class="form-control" placeholder="Search">
    </div>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Given name</th>
                <th scope="col">Sur name</th>
                <th scope="col">Phone number</th>
                <th scope="col">Group </th>
                <th scope="col">Status </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <tr class="searchable-row">
                        <th scope="row">@i</th>
                        <td>@item.GivenName</td>
                        <td>@item.Surname</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.GroupName</td>

                        <td>
                            <a asp-route-studentId="@item.Id" asp-action="PutStudent" class="btn btn-success btn-md-custom btn-edit">
                                <i class="bi bi-pencil"></i>Paid
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function submitForm() {
            document.getElementById("form").submit();
        }

        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".searchable-row").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".searchable-row").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });

            $(".toggle-payment").click(function () {
                var button = $(this);
                var studentId = button.data("student-id");
                var isPaid = button.data("is-paid");

                var paymentAmount = $("#paymentAmount_" + studentId).val();

                $.post("/Payment/UpdatePayment", { studentId: studentId, isPaid: isPaid, amount: paymentAmount }, function (data) {
                    if (data.success) {
                        if (isPaid) {
                            button.removeClass("btn-success").addClass("btn-secondary");
                        } else {
                            button.removeClass("btn-danger").addClass("btn-secondary");
                        }
                    }
                });
            });

            $(".toggle-remainder").click(function () {
                var button = $(this);
                var studentId = button.data("student-id");
                var remainder = button.data("remainder");

                $.post("/Payment/RemainderToStudents", { studentId: studentId, remainder: remainder }, function (data) {
                    if (data.success) {
                    }
                });
            });
        });
    </script>
</body>
</html>
